{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            
            <div class="welcome-card">
                <div class="welcome-icon">
                    <i class="bi bi-rocket-takeoff-fill"></i>
                </div>
                <h2 class="fw-bold text-dark mb-3">Bem-vindo a B22</h2>
                <p class="text-secondary fs-6 mb-4">
                    Tudo o que você precisa para solução de tecnologia da sua empresa está aqui. <br>
                    Selecione uma opção no menu lateral para começar.
                </p>
                
                <hr class="w-25 mx-auto mt-5 mb-4 text-muted">
                <p class="text-muted small text-uppercase fw-bold letter-spacing-1">
                    MeuERP Enterprise • Versão 1.0
                </p>
            </div>

        </div>
    </div>
</div>
{% endblock %}